<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NewCentury Server Control Panel</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/dashboard/index.css" />
</head>
<body>
    <div class="title-bar">
        <div class="title-bar-left">
            <span class="title-bar-title">NewCentury Server CP</span>
        </div>
        <div class="title-bar-right">
            <button class="hollow button tiny" style="margin: 0" onclick="location.href = location.origin + '/login'">
                로그인
            </button>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-x align-center">
            <div class="cell">
                <h1 class="text-center custom-daemon-title">NewCentury Server CP</h1>
                <h3 class="text-center custom-daemon-subtitle">NewCentury 서버 관리자 페이지에 오신 것을 환영합니다!</h3>
            </div>
            <div class="card cell small-6 custom-daemon-login">
                <div class="card-divider">
                    System Admin Registration
                </div>
                <div class="card-section">
                    <div>
                        <h5>ServerCP 서버 제어 WebGUI 는 SSH 및 API 연동으로 작동하므로, 해당 host 의 시스템 관리 계정을 입력하셔야 합니다.</h5>
                    </div>
                    <div>
                        <label>Host
                            <input id="host" type="password" placeholder="현재는 단일 서버만 지원됩니다. 서버 호스트는 프리셋에 따라 자동 입력됩니다." disabled>
                        </label>
                    </div>
                    <div>
                        <label>Username
                            <input id="username" type="text" placeholder="Username">
                        </label>
                    </div>
                    <div>
                        <label>Password
                            <input id="password" type="password" placeholder="Password">
                        </label>
                    </div>
                    <div>
                        <button class="button expanded custom-daemon-login-btn" type="button" onclick="register()">Check Server Admin Privilege & Register Server</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/what-input.js"></script>
    <script src="/static/js/vendor/foundation.min.js"></script>
    <script src="/static/js/auth/register.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
