.custom-daemon-manage {
    margin-bottom: 50px;
}
.custom-daemon-manage-main-title {
    cursor: pointer;
}
.custom-daemon-manage-title {
    margin-top: 25px;
}
.custom-daemon-manage-table > tbody > tr > td:nth-child(2n - 1) {
    width: 200px;
}
.custom-daemon-manage-table > tbody > tr > td:nth-child(2) {
    border-right: 1px solid #e6e6e6;
}

.custom-daemon-manage-composefile > textarea,
.custom-daemon-manage-dockerfile > textarea {
    height: 500px;
    resize: none;
    overflow-y: scroll;
}

#daemon-docker-log {
    height: 500px;
    resize: none;
    overflow-y: scroll;
}
