.custom-daemon-editor {
    margin-bottom: 50px;
}
.custom-daemon-editor > div > div > textarea {
    height: 500px;
    resize: none;
    overflow-y: scroll;
}
.custom-daemon-editor > div > div:nth-child(13) > textarea {
    height: 150px;
}
