<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>NewCentury's Server Command Post</h1>
    <div>
        <div th:text="daemon.name"></div>
        <div th:text="daemon.description"></div>
        <div>
            <button th:onclick="|location.href='@{/dashboard/daemon_editor(id=${daemon.id})}'|">프로젝트 데몬 정보 수정</button>
            <button>프로젝트 데몬 등록 해제</button>
        </div>
        <div>
            <div>프로젝트 데몬 상세 정보</div>
            <div>
                <span>바이너리 버전</span>
                <span th:text="daemon.version"></span>
            </div>
            <div>
                <span>배포된 서버장비(노드)명</span>
                <span th:text="daemon.node.name"></span>
            </div>
            <div>
                <span>배포된 서버장비(노드)호스트</span>
                <span th:text="daemon.node.host"></span>
            </div>
            <div>
                <span>프로젝트 루트 디렉토리 경로</span>
                <span th:text="daemon.projectPath"></span>
            </div>
            <div>
                <span>프로젝트 바이너리 디렉토리 경로</span>
                <span th:text="daemon.binaryPath"></span>
            </div>
        </div>
        <div>
            <div>프로젝트 데몬 실행/중지</div>
            <div>
                <span>현재 상태</span>
                <span th:text="daemon.status"></span>
            </div>
            <div>
                <button>시작</button>
                <button>중지</button>
                <button>재시작</button>
            </div>
        </div>
        <div>
            <div>프로젝트 데몬 업데이트</div>
            <div>
                <label for="distribute-binary-version">업데이트(배포)할 바이너리 버전</label>
                <input id="distribute-binary-version" type="text" placeholder="업데이트(배포) 할 바이너리 버전 입력" />
            </div>
            <div>
                <label for="distribute-binary-file">업데이트(배포)할 바이너리 파일</label>
                <input id="distribute-binary-file" type="file" />
            </div>
            <div>
                <label for="composefile">컴포즈 파일 편집 (docker-compose.yml)</label>
                <textarea id="composefile" placeholder="컴포즈 파일 내용" th:text="daemon.composefile"></textarea>
            </div>
            <div>
                <label for="dockerfile">도커 파일 편집 (.Dockerfile)</label>
                <textarea id="dockerfile" placeholder="도커 파일 내용" th:text="daemon.dockerfile"></textarea>
            </div>
            <button>데몬 업데이트</button>
        </div>
        <div>
            <div>프로젝트 데몬 로그</div>
            <table>
                <tr>
                    <th>심각도</th>
                    <th>내용</th>
                    <th>일시</th>
                </tr>
                <tr>
                    <td colspan="3">준비중인 기능입니다.</td>
                </tr>
            </table>
            <button>컨테이너 로그 다운로드</button>
        </div>
        <div>
            <div>프로젝트 DB 초기화</div>
            <div>준비중인 기능입니다.</div>
        </div>
        <div>
            <div>프로젝트 DB 백업(DLL 덤핑)</div>
            <div>준비중인 기능입니다.</div>
        </div>
        <div>
            <div>프로젝트 DB 복원(DLL 로드)</div>
            <div>준비중인 기능입니다.</div>
        </div>
    </div>
</body>
</html>
