<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">-->
    <title>홈페이지</title>
</head>
<body>
    <h1>NewCentury's Server Command Post</h1>
    <div>
        <div th:each="node: ${nodeList}">
            <div>
                <div>노드 정보</div>
                <div th:text="${node.name}"></div>
                <div th:text="${node.host}"></div>
                <div th:text="${node.description}"></div>
            </div>
            <div>
                <div>노드에서 호스팅 중인 프로젝트 데몬 목록</div>
                <div th:each="daemon: ${daemonList}">
                    <div th:text="${daemon.name}"></div>
                    <div th:text="${daemon.description}"></div>
                    <div th:text="${daemon.version}"></div>
                    <div th:text="${daemon.status}"></div>
                    <div>
                        <button th:onclick="|location.href='@{/distribute}'|">배포 관리</button>
                    </div>
                    <div>
                        <button th:onclick="|location.href='@{/dashboard/daemon_detail(id=${daemon.id})}'|">세부 정보</button>
                    </div>
                </div>
                <div>
                    <button th:onclick="|location.href='@{/dashboard/daemon_editor}'|">신규 프로젝트 데몬 등록</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>